* {
    box-sizing: border-box;
}

.apps {
    background-color: black;
    height: 12rem;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
}

#profPic {
    background-color: black;
    height: 12rem;
    width: 12rem;
    margin: 1rem 1rem 1rem 0;
}