* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Quicksand', sans-serif!important;
    background-color: rgba(228, 233, 237, 1);
}

a {
    text-decoration: none!important;
}

.container-fluid {
    height: 100%;
}

.app-header {
    color: white;
}


.profInfo {
    margin: 1rem;
    font-family: 'Quicksand', sans-serif!important;
    color: black;
}

.apps {
    background-color: black;
    height: 15rem;
    width: 28rem;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
}

.panel-heading {
   background-color: #28a745;
}

.card-body {
    background-color:white;
    color: rgba(103, 128, 159, 1);
}

.card-header {
    background-color: rgba(103, 128, 159, 1);
}

.appBtnGroup {
    margin-top: 1rem;
}

#jumbopic {
    background-image: url("images/lift.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    stroke: black;
    stroke-width: 5;
    font-family: 'Muli', sans-serif;
}


#profPic {
    background: url("images/profile.jpg") no-repeat;
    background-size: 100%;
    height: 12rem;
    width: 20rem;
    margin: 1rem 1rem 1rem 1rem;
}

#app1 {
    background: url("images/findmydoctor.png") no-repeat;
    background-size: 100%;
}

#app2 {
    background: url("images/findmydoctor.png") no-repeat;
    background-size: 100%;
}

#app3 {
    background: url("images/findmydoctor.png") no-repeat;
    background-size: 100%;
}
#profile {
    background-color: white;
    min-height: -webkit-fill-available;
}

#quote {
    margin: 1rem;
}

#author {
    margin: 0rem 1rem 1rem 1rem;
}

#jumbotext {
    font-size: 55pt;
}

#transOverlay {
    background-color: rgba(0,0,0,.4);
}

.btn-success {
    background-color: white;
    border-color: rgba(46, 49, 49, 1);
    color: rgba(46, 49, 49, 1);
}

.btn-success:hover {
    background-color: rgba(46, 49, 49, .8);
    border-color: rgba(46, 49, 49, .8)!important; 
}

.btn-success:active {
    background-color: rgba(46, 49, 49, .8)!important; 
    border-color: rgba(46, 49, 49, .8)!important; 
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 49, 49, .5)!important;
}

.btn-outline-success {
    background-color: white;
    border-color: rgba(46, 49, 49, 1);
    color: rgba(46, 49, 49, 1);

}

.btn-outline-success:hover {
    background-color: rgba(46, 49, 49, .8)!important;
    border-color: rgba(46, 49, 49, 1);
}

.btn-outline-success:active {
    background-color: rgba(46, 49, 49, .8)!important; 
    border-color: rgba(46, 49, 49, .8)!important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 49, 49, .5)!important;
    border-color: rgba(46, 49, 49, .8);
}